/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21/10/2018, 03:27:41 AM
    Author     : alexa
*/

$white:                        #FFFFFF;

$font-size-base:              .9rem !default;
$h1-font-size:                $font-size-base * 1.8 !default;
$h2-font-size:                $font-size-base * 1.65 !default;
$h3-font-size:                $font-size-base * 1.5 !default;
$h4-font-size:                $font-size-base * 1.35 !default;
$h5-font-size:                $font-size-base * 1.2 !default;

$navbar-dark-color:                 rgba($white, .9) !default;
$navbar-dark-hover-color:           rgba($white, .95) !default;
