/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 20, 2018, 1:41:15 AM
    Author     : ikerlb

.ui-icon-check{
    background:black;
}

.ui-chkbox{
    height:12px;
    width:12px;
}

.ui-chkbox-box{
    height:12px;
    width:12px; 
    background:white;
    border-style:solid;
}

.ui-selectcheckboxmenu-items-wrapper{
    max-height: 250px;
    overflow-y: scroll;
}

.ui-widget-header{
    display:none;
}

.ui-selectcheckboxmenu-item{
    margin:2;
}

.categorias-item{
    margin:0;

}

.ui-selectcheckboxmenu-checked{
    background:lightblue;
}

.ui-chkbox-box.ui-widget.ui-corner-all.ui-state-default.ui-state-active{
    background:black;
}

.categorias-selector{

}

*/

.ui-inputfield { box-shadow: none !important; }

.ui-selectcheckboxmenu-multiple {
    width: 100%;
}

.ui-selectcheckboxmenu-multiple-container {
    transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    display: inline-block;
    width: 100%;
    min-height: 30px; /* calc(2.25rem + 2px); */
    padding: .375rem 1.75rem .375rem .75rem;
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
    line-height: 1.5;
    color: #495057;
    vertical-align: middle;
    background: #fff url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right .75rem center;
    background-size: auto auto;
    background-size: 8px 10px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: none !important;
    width: 100%;
}

.ui-selectcheckboxmenu-trigger {
    display:none;
}

.ui-selectcheckboxmenu-token.ui-state-active {
    background: #f8f9fa !important;
    font-weight: normal;
    text-shadows: none;
    font-size: 90%;
}

.material-grid{
    font-weight: bold;
}